            <!-- Slider Arae Start -->
            <div class="slider-area">
                <div class="slider-active-3 owl-carousel slider-hm8 owl-dot-style">
                    <!-- Slider Single Item Start -->
                    <div class="slider-height-13 d-flex align-items-start justify-content-start bg-img" style="background-image: url(assets/images/slider-image/sample-211.jpg);">
                        <div class="container">
                            <div class="slider-content-13 slider-animated-1 text-left">
                                <h1 class="animated">
                                    Converse x FOG<br />
                                    <strong>Sản phẩm mới ra mắt được chú ý nhất</strong>
                                </h1>
                                <p class="animated">Đặt hàng ngay hôm nay, số lượng có hạn</p>
                                <a href="shop-4-column.html" class="shop-btn animated">Mua sắm</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slider Single Item End -->
                    <!-- Slider Single Item Start -->
                    <div class="slider-height-13 d-flex align-items-start justify-content-start bg-img" style="background-image: url(assets/images/slider-image/911.jpg);">
                        <div class="container">
                            <div class="slider-content-13 slider-animated-1 text-left">
                                <h1 class="animated">
                                    New Collection<br />
                                    <strong>Stained Beech Stool</strong>
                                </h1>
                                <p class="animated">The new Danish classic, the Dark Stained Beech Stool has an elegant, organic design</p>
                                <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                    <!-- Slider Single Item End -->
                </div>
            </div>
            <!-- Slider Arae End -->
            <!-- Static Area Start -->
<div class="static-area mtb-60px">
    <div class="container">
      <div class="static-area-wrap">
        <div class="row">
          <!-- Static Single Item Start -->
          <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
            <div class="single-static">
              <img src="assets/images/icons/static-icons-1.png" alt="" class="img-responsive" />
              <div class="single-static-meta">
                <h4>Miễn phí giao hàng</h4>
                <p>Cho các đơn hàng > 500k</p>
              </div>
            </div>
          </div>
          <!-- Static Single Item End -->
          <!-- Static Single Item Start -->
          <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
            <div class="single-static">
              <img src="assets/images/icons/static-icons-2.png" alt="" class="img-responsive" />
              <div class="single-static-meta">
                <h4>Đổi trả miễn phí</h4>
                <p>Đổi trả trong vòng 7 ngày free</p>
              </div>
            </div>
          </div>
          <!-- Static Single Item End -->
          <!-- Static Single Item Start -->
          <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-sm-30px">
            <div class="single-static">
              <img src="assets/images/icons/static-icons-4.png" alt="" class="img-responsive" />
              <div class="single-static-meta">
                <h4>Hỗ trợ 24/7</h4>
                <p>0387678843</p>
              </div>
            </div>
          </div>
          <!-- Static Single Item End -->
          <!-- Static Single Item Start -->
          <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
            <div class="single-static">
              <img src="assets/images/icons/static-icons-3.png" alt="" class="img-responsive" />
              <div class="single-static-meta">
                <h4>Bảo mật thông tin</h4>
                <p>Your payment are safe with us.</p>
              </div>
            </div>
          </div>
          <!-- Static Single Item End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Static Area End -->
            <!-- Banner Area Start -->
            <div class="banner-3-area mt-30px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-res-xs-30 mb-res-sm-30">
                            <div class="banner-wrapper banner-box">
                                <a href="shop-4-column.html"><img src="assets/images/banner-image/banner1.jpg" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-res-xs-30 mb-res-sm-30">
                            <div class="banner-wrapper banner-box">
                                <a href="shop-4-column.html"><img src="assets/images/banner-image/banner3.jpg" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="banner-wrapper banner-box">
                                <a href="shop-4-column.html"><img src="assets/images/banner-image/banner4.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Area End -->
            <!-- Category Area Start -->
            <section class="categorie-area categorie-area-2 ptb-100px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- Section Title -->
                            <div class="section-title mt-res-sx-30px mt-res-md-30px underline-shape">
                                <h2>Loại sản phẩm phổ biến</h2>
                                <!-- <p>Add Popular Categories to weekly line up</p> -->
                            </div>
                            <!-- Section Title -->
                        </div>
                    </div>
                    <!-- Category Slider Start -->
                    <div class="category-slider-2 owl-carousel owl-nav-style-3">
                        <!-- Single item -->
                        <div class="category-item">
                            <div class="category-list">
                                <div class="category-thumb">
                                    <a href="shop-4-column.html">
                                        <img src="assets/images/product-image/furniture/1.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="desc-listcategoreis">
                                    <div class="name_categories">
                                        <h4>Balenciaga</h4>
                                    </div>
                                    <span class="number_product">17 Products</span>
                                    <a href="shop-4-column.html"> Mua ngay <i class="ion-android-arrow-dropright-circle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single item -->
                        <div class="category-item">
                            <div class="category-list">
                                <div class="category-thumb">
                                    <a href="shop-4-column.html">
                                        <img src="assets/images/product-image/furniture/2.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="desc-listcategoreis">
                                    <div class="name_categories">
                                        <h4>Nike</h4>
                                    </div>
                                    <span class="number_product">17 Products</span>
                                    <a href="shop-4-column.html"> Mua ngay <i class="ion-android-arrow-dropright-circle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single item -->
                        <div class="category-item">
                            <div class="category-list">
                                <div class="category-thumb">
                                    <a href="shop-4-column.html">
                                        <img src="assets/images/product-image/furniture/3.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="desc-listcategoreis">
                                    <div class="name_categories">
                                        <h4>Adidas</h4>
                                    </div>
                                    <span class="number_product">17 Products</span>
                                    <a href="shop-4-column.html"> Mua ngay <i class="ion-android-arrow-dropright-circle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single item -->
                        <div class="category-item">
                            <div class="category-list">
                                <div class="category-thumb">
                                    <a href="shop-4-column.html">
                                        <img src="assets/images/product-image/furniture/4.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="desc-listcategoreis">
                                    <div class="name_categories">
                                        <h4>Jordan</h4>
                                    </div>
                                    <span class="number_product">17 Products</span>
                                    <a href="shop-4-column.html"> Mua ngay <i class="ion-android-arrow-dropright-circle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single item -->
                        <div class="category-item">
                            <div class="category-list">
                                <div class="category-thumb">
                                    <a href="shop-4-column.html">
                                        <img src="assets/images/product-image/furniture/5.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="desc-listcategoreis">
                                    <div class="name_categories">
                                        <h4>Gucci</h4>
                                    </div>
                                    <span class="number_product">17 Products</span>
                                    <a href="shop-4-column.html"> Mua ngay <i class="ion-android-arrow-dropright-circle"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single item -->
                        <!-- <div class="category-item">
                            <div class="category-list">
                                <div class="category-thumb">
                                    <a href="shop-4-column.html">
                                        <img src="assets/images/product-image/furniture/6.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="desc-listcategoreis">
                                    <div class="name_categories">
                                        <h4>Kitchen</h4>
                                    </div>
                                    <span class="number_product">17 Products</span>
                                    <a href="shop-4-column.html"> Shop Now <i class="ion-android-arrow-dropright-circle"></i></a>
                                </div>
                            </div>
                        </div> -->
                        <!-- Single item -->
                    </div>
                </div>
            </section>
            <!-- Category Area End  -->
            <!-- Banner Area 2 Start -->
            <div class="banner-area-2 mt-0px mb-100px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-inner banner-box">
                                <a href="shop-4-column.html"><img src="assets/images/banner-image/bn1.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Area 2 End -->
            <!-- Recent Add Product Area Start -->
            <section class="recent-add-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- Section Title -->
                            <div class="section-title underline-shape">
                                <h2>Sản phẩm mới</h2>
                            </div>
                            <!-- Section Title -->
                        </div>
                    </div>
                    <!-- Recent Product slider Start -->
                    <div class="recent-product-slider owl-carousel owl-nav-style-3">
                        <!-- Product Single Item -->
                    <ng-container *ngFor="let item of moinhat">
                        <div class="product-inner-item">
                            <article class="list-product mb-30px">
                                <div class="img-block">
                                    <a href="single-product.html" class="thumbnail">
                                        <img class="first-img" style ="height: 250px;" src= "assets\images\product-image\shoe\{{item.image}}" alt="" />
                                        <!-- <img class="second-img" src="assets/images/product-image/furniture/7.jpg" alt="" /> -->
                                    </a>
                                    <div class="add-to-link">
                                        <ul>
                                            <li>
                                                <a (click)="addToCart(item)" title="Add to Cart"><i class="ion-bag"></i></a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html" title="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Compare"><i class="ion-ios-shuffle-strong"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal"><i class="ion-ios-search-strong"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="product-flag">
                                    <li class="new">New</li>
                                </ul>
                                <div class="product-decs text-center">
                                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                                    <h2><a routerLink="/detail/{{item.iD_product}}"  class="product-link">{{item.name}}</a></h2>
                                    <div class="rating-product">
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                    </div>
                                    <div class="pricing-meta">
                                        <ul>
                                            <li class="old-price">{{item.unit_price |number }} VNĐ</li>
                                            <li class="current-price">{{item.promotion_price |number }} VNĐ</li>
                                            <li class="discount-price">-10%</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                        </div>
                        </ng-container>

                    </div>
                    <!-- Recent Area Slider End -->
                </div>
            </section>
            <!-- Recent product area end -->
            <!-- Hot deal area Start -->
            <div class="clearfix"></div>
            <!-- Hot Deal Area End -->

            <!-- Balenciaga Start -->
            <section class="feature-area mt-40px mb-70px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- Section Title -->
                            <div class="section-title underline-shape">
                                <h2>Balenciaga</h2>
                                <p>Add products to weekly line up</p>
                            </div>
                            <!-- Section Title -->
                        </div>
                    </div>
                    <!-- Feature Slider Start -->
                    <div class="recent-product-slider owl-carousel owl-nav-style-3">
                        <!-- Product Single Item -->
                    <ng-container *ngFor="let item of balenciaga">
                        <div class="product-inner-item">
                            <article class="list-product mb-30px">
                                <div class="img-block">
                                    <a href="single-product.html" class="thumbnail">
                                        <img class="first-img" style ="height: 250px;" src= "assets\images\product-image\shoe\{{item.image}}" alt="" />
                                        <!-- <img class="second-img" src="assets/images/product-image/furniture/7.jpg" alt="" /> -->
                                    </a>
                                    <div class="add-to-link">
                                        <ul>
                                            <li>
                                                <a (click)="addToCart(item)" title="Add to Cart"><i class="ion-bag"></i></a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html" title="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Compare"><i class="ion-ios-shuffle-strong"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal"><i class="ion-ios-search-strong"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="product-flag">
                                    <li class="new">New</li>
                                </ul>
                                <div class="product-decs text-center">
                                    <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                                    <h2><a routerLink="/detail/{{item.iD_product}}"  class="product-link">{{item.name}}</a></h2>
                                    <div class="rating-product">
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                        <i class="ion-android-star"></i>
                                    </div>
                                    <div class="pricing-meta">
                                        <ul>
                                            <li class="old-price">{{item.unit_price |number }} VNĐ</li>
                                            <li class="current-price">{{item.promotion_price |number }} VNĐ</li>
                                            <li class="discount-price">-10%</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                        </div>
                        </ng-container>

                    </div>
                    <!-- Feature Slider End -->
                </div>
            </section>
            <!-- Balenciaga End -->
                        <!-- Adidas Start -->
                        <section class="feature-area mt-40px mb-70px">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <!-- Section Title -->
                                        <div class="section-title underline-shape">
                                            <h2>Adidas</h2>
                                            <p>Add products to weekly line up</p>
                                        </div>
                                        <!-- Section Title -->
                                    </div>
                                </div>
                                <!-- Feature Slider Start -->
                                <div class="recent-product-slider owl-carousel owl-nav-style-3">
                                    <!-- Product Single Item -->
                                <ng-container *ngFor="let item of adidas">
                                    <div class="product-inner-item">
                                        <article class="list-product mb-30px">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" style ="height: 250px;" src= "assets\images\product-image\shoe\{{item.image}}" alt="" />
                                                    <!-- <img class="second-img" src="assets/images/product-image/furniture/7.jpg" alt="" /> -->
                                                </a>
                                                <div class="add-to-link">
                                                    <ul>
                                                        <li>
                                                            <a (click)="addToCart(item)" title="Add to Cart"><i class="ion-bag"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="wishlist.html" title="wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="compare.html" title="Compare"><i class="ion-ios-shuffle-strong"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal"><i class="ion-ios-search-strong"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="product-flag">
                                                <li class="new">New</li>
                                            </ul>
                                            <div class="product-decs text-center">
                                                <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                                                <h2><a routerLink="/detail/{{item.iD_product}}"  class="product-link">{{item.name}}</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="old-price">{{item.unit_price |number }} VNĐ</li>
                                                        <li class="current-price">{{item.promotion_price |number }} VNĐ</li>
                                                        <li class="discount-price">-10%</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
            
                                    </div>
                                    </ng-container>
            
                                </div>
                                <!-- Feature Slider End -->
                            </div>
                        </section>
                        <!-- Balenciaga End -->

                        <!-- Brand area start -->
                        <div class="clearfix"></div>
            <!-- Brand area end -->
            <!-- Blog area Start -->
            <section class="blog-area mb-60px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- Section title -->
                            <div class="section-title underline-shape">
                                <h2>Latest Blogs</h2>
                                <p>Present posts in a best way to highlight interesting moments of your blog.</p>
                            </div>
                            <!-- Section title -->
                        </div>
                    </div>
                    <!-- Blog Slider Start -->
                    <div class="blog-slider-active owl-carousel owl-nav-style-3">
                        <!-- single item -->
                        <article class="blog-post">
                            <div class="blog-post-top">
                                <div class="blog-img banner-wrapper">
                                    <a href="blog-grid-left-sidebar.html"><img src="assets/images/blog-image/blog-16.jpg" alt="" /></a>
                                </div>
                                <a href="blog-grid-left-sidebar.html" class="blog-meta">Furniture</a>
                            </div>
                            <div class="blog-post-content">
                                <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is First Post For XipBlog</a></h4>
                                <p class="blog-text">
                                    Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                                </p>
                                <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                        </article>
                        <!-- single item -->
                        <article class="blog-post">
                            <div class="blog-post-top">
                                <div class="blog-img banner-wrapper">
                                    <a href="blog-grid-left-sidebar.html"><img src="assets/images/blog-image/blog-13.jpg" alt="" /></a>
                                </div>
                                <a href="blog-grid-left-sidebar.html" class="blog-meta">Furniture</a>
                            </div>
                            <div class="blog-post-content">
                                <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Secound Post For XipBlog</a></h4>
                                <p class="blog-text">
                                    Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                                </p>
                                <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                        </article>
                        <!-- single item -->
                        <article class="blog-post">
                            <div class="blog-post-top">
                                <div class="blog-img banner-wrapper">
                                    <a href="blog-grid-left-sidebar.html"><img src="assets/images/blog-image/blog-14.jpg" alt="" /></a>
                                </div>
                                <a href="blog-grid-left-sidebar.html" class="blog-meta">Furniture</a>
                            </div>
                            <div class="blog-post-content">
                                <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Third Post For XipBlog</a></h4>
                                <p class="blog-text">
                                    Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                                </p>
                                <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                        </article>
                        <!-- single item -->
                        <article class="blog-post">
                            <div class="blog-post-top">
                                <div class="blog-img banner-wrapper">
                                    <a href="blog-grid-left-sidebar.html"><img src="assets/images/blog-image/blog-15.jpg" alt="" /></a>
                                </div>
                                <a href="blog-grid-left-sidebar.html" class="blog-meta">Furniture</a>
                            </div>
                            <div class="blog-post-content">
                                <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Foruth Post For XipBlog</a></h4>
                                <p class="blog-text">
                                    Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                                </p>
                                <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                        </article>
                        <!-- single item -->
                    </div>
                    <!-- Blog Slider Start -->
                </div>
            </section>
            <!-- Blog Area End -->

