<!-- Menu Content Start -->
<div class="header-buttom-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left d-none d-lg-block">
                <div class="d-flex align-items-start justify-content-start">
                    <!-- Beauty Category -->
                    <div class="beauty-category vertical-menu home-9 home-10">
                        <h3 class="vertical-menu-heading vertical-menu-toggle">Sản phẩm của chúng tôi</h3>
                        <ul class="vertical-menu-wrap open-menu-toggle">
                            <ng-container *ngFor="let i of category">
                                <li *ngIf="i.children != null" class="menu-item">
                                    <a [routerLink]="['/item-list', i.category_id]">{{ i.name }} <i
                                          class="ion-ios-arrow-right"></i></a>
                                    <ul class="sub-menu sub-menu-2">
                                        <li>
                                            <ul class="submenu-item">
                                                <ng-container *ngFor="let c of i.children">
                                                    <li><a routerLink="/item-list/{{c.category_id}}">{{ c.name }}</a></li>
                                                </ng-container>

                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- sub menu -->
                                </li>
                                <li class="menu-item" *ngIf="i.children == null"><a routerLink="/item-list/{{i.category_id}}">{{ i.name }}</a></li>
                            </ng-container>
                        </ul>
                    </div>
                    <!-- Beauty Category -->
                    <!--Seach Area Start -->
                    <div class="header_account_list search_list">
                        <a href="javascript:void(0)"><i class="ion-ios-search-strong"></i></a>
                        <div class="dropdown_search">
                            <form action="#">
                                <input placeholder="nhập từ khoá tìm kiếm..." type="text" onfocus="myFunction()" onfocusout="myFunction1()" />
                                <button type=" submit "><i class="ion-ios-search-strong "></i></button>
                            </form>
                        </div>
                        <div class="product_table " id="tb">
                            <div class="row m-0">

                            </div>
                        </div>
                    </div>
                    <!--Seach Area End -->
                    <!--Contact info Start -->
                    <div class="contact-link-wrap ">
                        <div class="contact-link ">
                            <div class="phone ">
                                <p>Hotline:</p>
                                <a href="tel:(+800)345678 ">038678888</a>
                            </div>
                        </div>
                        <!--Contact info End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu Content End -->